.filter {
  display: flex;
  width: calc(100% - 20px);
  margin: 0px 10px;
}

.filterForm {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.filterPlaceholder {
  display: none;
}

.filterForm > * {
  height: 42px;
  padding-right: 20px;
  padding-left: 10px;
  border: none;
  border-radius: 4px;
  margin: 14px 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent;
  background-position: right center;
  background-repeat: no-repeat;
  color: var(--gray-text-1);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 400;
  outline: var(--gray-border) solid 1px;
}

.filterForm input::placeholder {
  color: var(--gray-text-1);
}

/* .filterForm select {
  appearance: none;
  background-image: url("/src/assets/icons/chevron_down.svg");
  background-position: right;
  background-position: right 10px top 50%;
  background-repeat: no-repeat;
  background-size: 16px;
} */

.artist {
  width: calc(100% - 20px);
}

.genre {
  width: calc(50% - 20px) !important;
}

.decade {
  width: calc(50% - 20px) !important;;
}

.country {
  width: calc(100% - 20px) !important;
}

.filterSearch {
  width: calc(100% - 20px);
  height: 44px;
  align-self: center;
  border: none;
  background-color: var(--accent-color);
  color: var(--text-1);
  font-size: 16px;
  font-weight: 500;
  outline: none;
  transition-duration: 0.1s;
  transition-property: filter;
}

.filterSearch:hover {
  cursor: pointer;
  filter: brightness(1.1);
}

.filterSearch:active {
  filter: brightness(1.2);
}


@media screen and (min-width: 130vh) {

    .artist  {
      width: calc(50% - 30px) !important;
      order: 1 !important;
      padding-right: 0px !important;
    }

    .genre {
      order: 3 !important;
    }

    .decade {
      order: 4 !important;
    }

    .country {
      width: calc(50% - 20px) !important;
      order: 2 !important;
    }

    .filterSearch {
      order: 5 !important;
    }
  }
