.notificationContainer{
  position: fixed;
  z-index: 100;
  right: 10px;
  bottom: 10px;
  width: 400px;
  padding: 0px 15px;
  border-radius: 20px;
  /* outline: 3px solid var(--accent-color); */
}

.notificationContainer p {
  color: var(--text-1);
  text-wrap: wrap;
 }

 .default{
  background: var(--accent-color);
 }


 .error{
  background: var(--error-1);
 }
