.item img {
  width: 169px;
  height: 169px;
  border-radius: 8px;
}

.item h5 {
  margin: 10px 0px;
  margin: 0px;
  font-size: 14px;
  font-weight: 700;
}

.item h6 {
  margin: 4px 0px;
  color: var(--accent-text);
  font-size: 14px;
  font-weight: 500;
}

.infoContainer {
  margin-top: 10px;
  cursor: pointer;
}

.itemInfo {
  margin: 7px 0px;
}

.itemInfo div {
  display: inline-flex;
  width: 100%;
  flex-wrap: nowrap;
}

.button p,
.removeButton p {
  margin: 0px 3px;
  font-size: 16px;
  font-weight: 500;
}

.itemInfo div p {
  width: -moz-fit-content;
  width: fit-content;
  margin: 2px 0px;
  font-size: 14px;
  font-weight: 400;
  text-transform: capitalize;
  text-wrap: nowrap;
}

.button .icon {
  margin-left: 3px;
}

.itemInfo div p:first-child {
  margin-right: 3px;
  color: var(--gray-text-2);
  font-family: 'Poppins', sans-serif;
}

.itemInfo div p:last-child {
  overflow: hidden;
  color: var(--accent-text);
  font-family: 'Plus Jakarta Sans', sans-serif;
  text-overflow: ellipsis;
}

.button {
  display: inline-flex;
  width: 100%;
  height: 44px;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 4px;
  background-color: var(--accent-bg);
  color: var(--text-1);
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 500;
  outline: none;
  transition-duration: 0.2s;
  transition-property: filter, opacity;
}

.removeButton {
  background-color: var(--gray-border);
  color: var(--accent-text);
}

.button:hover {
  cursor: pointer;
  filter: brightness(1.2);
}

.removeButton:hover {
  cursor: pointer;
  filter: brightness(0.97);
}

.likeButton {
  position: absolute;
  z-index: 2;
}

.item {
  display: flex;
  overflow: hidden;
  min-width: 169px;
  height: calc(169px + 129px + 44px + 10px + 20px);
  flex-basis: calc(25% - 20px);
  flex-direction: column;
  justify-content: space-between;  margin: 7px 0px;
  color: var(--accent-text);
  font-family: 'Plus Jakarta Sans', sans-serif;
}

  @media screen and (min-width: 130vh) {
    .item {
      height: calc(169px + 10px + 10px);
      flex-basis: calc(33.33% - 10px);
      flex-wrap: wrap;
      margin: 7px 0px;
      gap: 5px;
    }

    .infoContainer {
      width: calc(100% - 169px - 10px - 30px);
      height: calc(169px - 44px - 10px - 10px);
      margin-top: 0px;
      margin-left: 10px;
    }

    .button {
      width: calc(100% - 169px - 10px - 30px);
      margin-top: 20px;
      margin-bottom: 10px;
      margin-left: 10px;
    }

    .item img {
      width: auto;
      height: 100%;
    }
}
