
.container{
  margin: 0 20px;
}


.container h2{
  color: var(--text-1);
}

.cards {
  display: flex;
  overflow: auto;
  width: max-content;
  flex-wrap: nowrap;
  gap: 10px;
}

.cardScrollContainer{
  overflow: auto;
  width: 100%;
  scrollbar-width: none;

}
.cardScrollContainer::-webkit-scrollbar {
  display: none;
}


