
.container{
  margin: 0 20px;
}


.container h2{
  color: var(--text-1);
}

.cards {
  display: flex;
  overflow: scroll;
  width: 100%;
  flex-wrap: nowrap;
  gap: 10px;
  scrollbar-width: none;
}

.cards::-webkit-scrollbar {
  display: none;
}


