.tooltipContainer{
  position: absolute;
  z-index: 100;
  width: max-content;
  width: 150px;
  max-width: 90%;
  margin: 0 10px;
  filter: drop-shadow(rgba(0, 0, 0, 0.35) 0px 5px 15px);
}

.tooltipContentContainer{
  display:flex;
  height: 20px;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 10px;
  background: var(--bg-color-3);box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  gap: 5px;
}

.tooltipContentContainer > *{
  overflow: hidden;
  width: max-content;
  margin: 0;
  color: var(--text-1);
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.tooltipArrow{
  width: 0;
	height: 0;
	border-top: 15px solid var(--bg-color-3);
	border-right: 15px solid transparent;
	border-left: 15px solid transparent;
  margin: 0 auto;

}
