@import url(colorThemes.css);


  body {
    min-height: calc(100vh - 62px);
    padding: 0;
    padding-top: 62px;
    margin: 0;
    background-color: var(--bg-color);
    font-family: 'Poppins', sans-serif;
  }


